{{ define "todoList" }}
<ul id="taskList">
  {{ range . }}
  {{ template "todoItem" . }}
  {{ end }}
</ul>
<div id="form" hx-swap-oob="true"></div>
<style>
  ul {
    padding: 0px;
  }

  .taskContainer {
    align-items: center;
    display: grid;
    grid-template-columns: 60% auto auto;
    grid-column-gap: 1em;
  }

  .taskButtonEdit {
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.5em 1em;
    margin: 4px 0px;
  }

  .taskButtonRemove {
    background-color: red;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.5em 1em;
    margin: 4px 0px;
  }

  .taskButtonRemove:hover {
    background-color: crimson;
  }

  .done {
    text-decoration: line-through;
  }
</style>
{{ end }}
{{ define "todoItem" }}
<li class="taskContainer">
  <span class="taskName {{if .Done}} done {{end}}">{{.TaskName}}</span>
  <button
    class="taskButtonEdit"
    hx-get="/updateform/{{.Id}}"
    hx-target="#form"
    hx-swap="outerHTML"
  >Edit</button>
  <button
    class="taskButtonRemove"
    hx-delete="/task/{{.Id}}"
    hx-target="#taskList"
    hx-swap="outerHTML"
  >Remove</button>
</li>
{{ end }}
